.tron {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.about {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.education {
  padding-top: 5rem;
}

.project {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
